<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="vue.js"></script>
    <script src="vuex.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
</head>
<body>
<div id="d">
    <h4>购物车</h4>
    <hr>
    <car_components></car_components>
    <br>
    <p v-if="showing===true">总价：{{total_pri}}</p>
</div>


</body>

<script type="text/x-template" id="car">
    <div>
        <div v-if="cares.length>0">
            <table border="1" cellspacing="0">
                <tr>
                    <th>编号</th>
                    <th>型号</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>合计</th>
                    <th>操作</th>
                </tr>
                <tr v-for="v in cares">
                    <td v-for=" iv,key in v" v-if="key!='nums'">
                        {{iv}}
                    </td>
                    <td>
                        <input v-model.number="v.nums"/>
                    </td>
                    <td>
                        {{sTotal(v)}}
                    </td>
                    <td>
                        <input type="submit" value="删除" @click="deleted(v.id)"/>
                    </td>
                </tr>
            </table>
        </div>
        <div v-else>
            购物车为空
        </div>
    </div>
</script>
<script>
    let car_components = {
        template: '#car',
        computed: {
            cares() {
                return this.$store.state.moduleA.cars
            },
            sTotal() {
                return v => {
                    return v.price * v.nums
                }
            },
            deleted() {
                return id => {
                    return this.$store.commit('moduleA/del', {id: id})
                }
            }
        },
        methods: {}
    };
    let moduleA = {
        namespaced:true,
        state: {
            cars: []
        },
        getters: {
            total(state) {
                let total_price = 0;
                state.cars.forEach(v => {
                    total_price += v.price * v.nums
                });
                return total_price;
            },
            carsLength(state) {
                return state.cars.length
            }
        },
        mutations: {
            del(state, id) {
                let kid;
                for (let i = 0; i < state.cars.length; i++) {
                    console.log(typeof(state.cars[i].id))
                    if (state.cars[i].id === id.id) {
                        kid = i;
                        break
                    }
                }
                state.cars.splice(kid, 1);
            },
            setCar(state, params) {
                state.cars = params
            }
        },
        actions: {
            loadData(context) {
                let data = [
                    {'id': 12, 'name': 'iphone', 'price': 100, 'nums': 1},
                    {'id': 16, 'name': 'huawei', 'price': 80, 'nums': 1},
                    {'id': 20, 'name': 'xiaomi', 'price': 10, 'nums': 1},
                    {'id': 15, 'name': 'sanxing', 'price': 80, 'nums': 1},
                ];
                context.commit('setCar', data)
            }
        }
    };
    let store = new Vuex.Store({
        modules: {moduleA}
    });
    let vm = new Vue({
        el: '#d',
        store: store,
        components: {car_components},
        computed: {
            total_pri() {
                return this.$store.getters['moduleA/total']
            },
            showing() {
                return this.$store.getters['moduleA/carsLength'] > 0
            }
        },
        methods: {},
        watch: {},
        data: {},
        mounted() {
            this.$store.dispatch('moduleA/loadData')
        }
    })
</script>
<style>
    a {
        color: aqua;
    }

    b {
        color: aquamarine;
    }
</style>
</html>